<template tag-name="zcat-toggle">
  <div class="zcat-toggle-wrap
    {{zcatProp.size === 'small' ? 'zcat-toggle-sm' : zcatProp.size === 'extra-small' ? 'zcat-toggle-exsm' : ''}}
    {{zcatProp.disabled ? 'zcat-toggle-disabled' : ''}}
    {{zcatProp.classCss || ''}}">
    <lyte-checkbox
      lt-prop-type="switch"
      lt-prop-checked="{{isChecked}}"
      lt-prop-disabled="{{zcatProp.disabled ? 'true' : 'false'}}"
      lt-prop-label="{{zcatProp.label || ''}}"
      on-checked="{{method('onToggleChecked')}}"
      on-unchecked="{{method('onToggleUnchecked')}}"
    ></lyte-checkbox>
  </div>
</template>
