.fullpage-modal-header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    /* border-bottom: 1px solid var(--zcat-mainHeader-border-default); */
    background: var(--zcat-fullpagePopup-bg-default);
    padding: 20px 10px;
}
.fullpage-modal-header-inner .left{
    display: flex;
    align-items: center;
    gap: 6px;
}
.fullpage-modal-wrapper .lyteModal{
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    border-radius: 0;
    background: var(--zcat-fullpagePopup-bg-default);
    left: 0 !important;
    top: 0 !important;
}
.fullpage-modal-wrapper lyte-modal-header.fullpage-modal-header{
    padding: 0;
}
.fullpage-modal-wrapper lyte-modal-content.fullpage-modal-content{
    min-height: calc(100vh - 42px) !important;
    padding: 0;
    border-radius: 26px 26px 0 0;
    border-top: 1px solid var(--zcat-mainHeader-border-default);
    background: var(--zcat-fullpagePopup-bg-body);
} 
.fullpage-modal-wrapper.modalWrapper{
    position: unset;
}

/* Start hidden at bottom */
.fullpage-modal-wrapper .lyteModal {
    transform: translateY(100px);
    opacity: 0;
}
/* When modal becomes visible */
.fullpage-modal-wrapper .lyteModalFromBottom,
.fullpage-modal-wrapper .lyteModalFadeIn {
    transform: translateY(0);
    opacity: 1;
}