html[data-user-color-scheme="dark"] {

  /* -------------------------------------------- FILL BUTTONS -------------------------------------------- */

  /* Background */
  --zcat-btn-fill-bg-primary-default: var(--zcat-primary-10);
  --zcat-btn-fill-bg-primary-hover: var(--zcat-primary-20);
  --zcat-btn-fill-bg-primary-click: var(--zcat-primary-10);
  --zcat-btn-fill-bg-primary-disabled: var(--zcat-primary-30);

  --zcat-btn-fill-bg-success-default: var(--zcat-green-10);
  --zcat-btn-fill-bg-success-hover: var(--zcat-green-20);
  --zcat-btn-fill-bg-success-click: var(--zcat-green-10);
  --zcat-btn-fill-bg-success-disabled: var(--zcat-green-30);

  --zcat-btn-fill-bg-danger-default: var(--zcat-red-10);
  --zcat-btn-fill-bg-danger-hover: var(--zcat-red-20);
  --zcat-btn-fill-bg-danger-click: var(--zcat-red-10);
  --zcat-btn-fill-bg-danger-disabled: var(--zcat-red-30);

  /* Text and Icons */
  --zcat-btn-fill-text-default: var(--zcat-white);
  --zcat-btn-fill-text-click: var(--zcat-white);
  --zcat-btn-fill-text-disabled: var(--zcat-white-20);

  --zcat-btn-fill-icon-default: var(--zcat-white);
  --zcat-btn-fill-icon-click: var(--zcat-white);
  --zcat-btn-fill-icon-disabled: var(--zcat-white-20);

  /* Split line for buttton*/
  --zcat-btn-fill-splitLine-default: var(--zcat-white-20);


  /* -------------------------------------------- OUTLINE BUTTONS -------------------------------------------- */

  /* Text */
  --zcat-btn-outline-text-primary-default: var(--zcat-primary-10);
  --zcat-btn-outline-text-primary-hover: var(--zcat-primary-20);
  --zcat-btn-outline-text-primary-click: var(--zcat-primary-10);
  --zcat-btn-outline-text-primary-disabled: var(--zcat-primary-30);

  --zcat-btn-outline-text-success-default: var(--zcat-green-10);
  --zcat-btn-outline-text-success-hover: var(--zcat-green-20);
  --zcat-btn-outline-text-success-click: var(--zcat-green-10);
  --zcat-btn-outline-text-success-disabled: var(--zcat-green-30);

  --zcat-btn-outline-text-danger-default: var(--zcat-red-10);
  --zcat-btn-outline-text-danger-hover: var(--zcat-red-20);
  --zcat-btn-outline-text-danger-click: var(--zcat-red-10);
  --zcat-btn-outline-text-danger-disabled: var(--zcat-red-30);

  /* Icons */
  --zcat-btn-outline-icon-primary-default: var(--zcat-primary-10);
  --zcat-btn-outline-icon-primary-hover: var(--zcat-primary-20);
  --zcat-btn-outline-icon-primary-click: var(--zcat-primary-10);
  --zcat-btn-outline-icon-primary-disabled: var(--zcat-primary-30);

  --zcat-btn-outline-icon-success-default: var(--zcat-green-10);
  --zcat-btn-outline-icon-success-hover: var(--zcat-green-20);
  --zcat-btn-outline-icon-success-click: var(--zcat-green-10);
  --zcat-btn-outline-icon-success-disabled: var(--zcat-green-30);

  --zcat-btn-outline-icon-danger-default: var(--zcat-red-10);
  --zcat-btn-outline-icon-danger-hover: var(--zcat-red-20);
  --zcat-btn-outline-icon-danger-click: var(--zcat-red-10);
  --zcat-btn-outline-icon-danger-disabled: var(--zcat-red-30);

  /* Borders */
  --zcat-btn-outline-border-primary-default: var(--zcat-primary-10);
  --zcat-btn-outline-border-primary-hover: var(--zcat-primary-20);
  --zcat-btn-outline-border-primary-click: var(--zcat-primary-10);
  --zcat-btn-outline-border-primary-disabled: var(--zcat-primary-30);

  --zcat-btn-outline-border-success-default: var(--zcat-green-10);
  --zcat-btn-outline-border-success-hover: var(--zcat-green-20);
  --zcat-btn-outline-border-success-click: var(--zcat-green-10);
  --zcat-btn-outline-border-success-disabled: var(--zcat-green-30);

  --zcat-btn-outline-border-danger-default: var(--zcat-red-10);
  --zcat-btn-outline-border-danger-hover: var(--zcat-red-20);
  --zcat-btn-outline-border-danger-click: var(--zcat-red-10);
  --zcat-btn-outline-border-danger-disabled: var(--zcat-red-30);

  /* Background */
  --zcat-btn-outline-bg-primaryHover: var(--zcat-primary-40);
  --zcat-btn-outline-bg-successHover: var(--zcat-green-40);
  --zcat-btn-outline-bg-dangerHover: var(--zcat-red-40);

  /* -------------------------------------------- GREY BUTTONS -------------------------------------------- */

  /* Background */
  --zcat-btn-grey-bg-default: var(--zcat-grey-20);
  --zcat-btn-grey-bg-hover: var(--zcat-grey-30);
  --zcat-btn-grey-bg-click: var(--zcat-grey-20);
  --zcat-btn-grey-bg-disabled: var(--zcat-grey-40);

  /* Grey-Text & Grey-Icons */
  --zcat-btn-grey-text-default: var(--zcat-dark-10);
  --zcat-btn-grey-text-hover: var(--zcat-dark-10);
  --zcat-btn-grey-text-click: var(--zcat-dark-10);
  --zcat-btn-grey-text-disabled: var(--zcat-dark-40);

  --zcat-btn-grey-icon-default: var(--zcat-dark-10);
  --zcat-btn-grey-icon-hover: var(--zcat-dark-10);
  --zcat-btn-grey-icon-click: var(--zcat-dark-10);
  --zcat-btn-grey-icon-disabled: var(--zcat-dark-40);

  /* Grey-Borders */
  --zcat-btn-grey-border-default: var(--zcat-grey-10);
  --zcat-btn-grey-border-hover: var(--zcat-grey-10);
  --zcat-btn-grey-border-click: var(--zcat-grey-10);
  --zcat-btn-grey-border-disabled: var(--zcat-grey-30);

  /* -------------------------------------------- GHOST BUTTONS -------------------------------------------- */

  /* Background */
  --zcat-btn-ghost-bg-primary-hover: var(--zcat-primary-40);
  --zcat-btn-ghost-bg-success-hover: var(--zcat-green-40);
  --zcat-btn-ghost-bg-danger-hover: var(--zcat-red-40);

  /* Text */
  --zcat-btn-ghost-text-primary-default: var(--zcat-primary-10);
  --zcat-btn-ghost-text-primary-hover: var(--zcat-primary-20);
  --zcat-btn-ghost-text-primary-click: var(--zcat-primary-10);
  --zcat-btn-ghost-text-primary-disabled: var(--zcat-primary-30);

  --zcat-btn-ghost-text-success-default: var(--zcat-green-10);
  --zcat-btn-ghost-text-success-hover: var(--zcat-green-20);
  --zcat-btn-ghost-text-success-click: var(--zcat-green-10);
  --zcat-btn-ghost-text-success-disabled: var(--zcat-green-30);

  --zcat-btn-ghost-text-danger-default: var(--zcat-red-10);
  --zcat-btn-ghost-text-danger-hover: var(--zcat-red-20);
  --zcat-btn-ghost-text-danger-click: var(--zcat-red-10);
  --zcat-btn-ghost-text-danger-disabled: var(--zcat-red-30);

  /* Icons */
  --zcat-btn-ghost-icon-primary-default: var(--zcat-primary-10);
  --zcat-btn-ghost-icon-primary-hover: var(--zcat-primary-20);
  --zcat-btn-ghost-icon-primary-click: var(--zcat-primary-10);
  --zcat-btn-ghost-icon-primary-disabled: var(--zcat-primary-30);

  --zcat-btn-ghost-icon-success-default: var(--zcat-green-10);
  --zcat-btn-ghost-icon-success-hover: var(--zcat-green-20);
  --zcat-btn-ghost-icon-success-click: var(--zcat-green-10);
  --zcat-btn-ghost-icon-success-disabled: var(--zcat-green-30);

  --zcat-btn-ghost-icon-danger-default: var(--zcat-red-10);
  --zcat-btn-ghost-icon-danger-hover: var(--zcat-red-20);
  --zcat-btn-ghost-icon-danger-click: var(--zcat-red-10);
  --zcat-btn-ghost-icon-danger-disabled: var(--zcat-red-30);

  /* -------------------------------------------- Gradient Buttons-------------------------------------------- */
  --zcat-btn-gradient-bg-top: var(--zcat-gradient-30);
  --zcat-btn-gradient-bg-bottom: var(--zcat-gradient-40);

  --zcat-btn-gradient-bg-top-hover: var(--zcat-gradient-30-1);
  --zcat-btn-gradient-bg-bottom-hover: var(--zcat-gradient-40-1);

  --zcat-btn-gradient-bg-top-click: var(--zcat-gradient-30);
  --zcat-btn-gradient-bg-bottom-click: var(--zcat-gradient-40);

  --zcat-btn-gradient-bg-top-disabled: var(--zcat-gradient-30-2);
  --zcat-btn-gradient-bg-bottom-disabled: var(--zcat-gradient-40-2);

  /* Text */

  --zcat-btn-gradient-text-default: var(--zcat-white);
  --zcat-btn-gradient-text-hover: var(--zcat-white);
  --zcat-btn-gradient-text-click: var(--zcat-white);
  --zcat-btn-gradient-text-disabled: var(--zcat-white-20);


  /* -------------------------------------------- LINK -------------------------------------------- */

  /* Link Text */
  --zcat-link-text-primary-default: var(--zcat-primary-10);
  --zcat-link-text-primary-hover: var(--zcat-primary-20);
  --zcat-link-text-primary-click: var(--zcat-primary-10);
  --zcat-link-text-primary-disabled: var(--zcat-primary-30);

  /* Link Icons */
  --zcat-link-icon-primary-default: var(--zcat-primary-10);
  --zcat-link-icon-primary-hover: var(--zcat-primary-20);
  --zcat-link-icon-primary-click: var(--zcat-primary-10);
  --zcat-link-icon-primary-disabled: var(--zcat-primary-30);

  /* -------------------------------------------- TABLE -------------------------------------------- */

  /* Table-Text & Table-icons */
  --zcat-table-text-primary: var(--zcat-dark-10);
  --zcat-table-text-secondary: var(--zcat-dark-20);
  --zcat-table-text-light: var(--zcat-dark-30);
  --zcat-table-text-disabled: var(--zcat-dark-40);

  --zcat-table-icon-primary: var(--zcat-dark-10);
  --zcat-table-icon-secondary: var(--zcat-dark-20);
  --zcat-table-icon-light: var(--zcat-dark-30);
  --zcat-table-icon-disabled: var(--zcat-dark-40);

  /* Table-border */
  --zcat-table-border-default: var(--zcat-grey-20);

  /* Table-background */
  --zcat-table-bg-row: var(--zcat-black);
  --zcat-table-bg-header: var(--zcat-grey-901);
  --zcat-table-bg-rowHover: var(--zcat-grey-50);
  --zcat-table-bg-rowSelected: var(--zcat-primary-40);
  --zcat-table-bg-rowDisabled: var(--zcat-grey-40);

  /* Table-threedot */
  --zcat-table-threeDot-icon: var(--zcat-dark-10);
  --zcat-table-threeDot-iconBg: var(--zcat-grey-40);
  --zcat-table-threeDot-iconBg-hover: var(--zcat-grey-20);
  --zcat-table-threeDot-iconBg-active: var(--zcat-primary-40);

  /* -------------------------------------------- SERVICE MENU -------------------------------------------- */

  /* Background */
  --zcat-serviceMenu-bg-serviceMenu: linear-gradient(180deg, var(--zcat-grey-902) 0%, var(--zcat-grey-902) 100%);
  --zcat-serviceMenu-bg-icon: var(--zcat-grey-50);

  /* Border */
  --zcat-serviceMenu-border-default: var(--zcat-grey-70);

  /* Icons */
  --zcat-serviceMenu-icon-default: var(--zcat-white);
  --zcat-serviceMenu-iconBg-active: var(--zcat-grey-50);

  /* Text */
  --zcat-serviceMenu-text-subHeading: var(--zcat-dark-20);
  --zcat-serviceMenu-text-default: var(--zcat-white);
  --zcat-serviceMenu-text-active: var(--zcat-dark-10);

  /* -------------------------------------------- INPUT FIELDS -------------------------------------------- */

  /* Input field - Background */
  --zcat-inputField-bg-default: var(--zcat-black);
  --zcat-inputField-bg-hover: var(--zcat-grey-60);
  --zcat-inputField-bg-active: var(--zcat-grey-60);
  --zcat-inputField-bg-disabled: var(--zcat-grey-40);
  --zcat-inputField-bg-error: var(--zcat-red-40);
  --zcat-inputField-bg-linkField-hover: var(--zcat-grey-60);
  --zcat-inputField-bg-keyvalue-hover: var(--zcat-grey-50);

  /* Input field - border */
  --zcat-inputField-border-default: var(--zcat-grey-10);
  --zcat-inputField-border-hover: var(--zcat-primary-30);
  --zcat-inputField-border-active: var(--zcat-primary-10);
  --zcat-inputField-border-disabled: var(--zcat-grey-30);
  --zcat-inputField-border-error: var(--zcat-red-30);

  /* Input Field Text */
  --zcat-inputField-text-placeholder: var(--zcat-dark-30);
  --zcat-inputField-text-active: var(--zcat-dark-10);
  --zcat-inputField-text-disabled: var(--zcat-dark-40);
  --zcat-inputField-text-label: var(--zcat-dark-20);
  --zcat-inputField-text-error: var(--zcat-red-10);
  --zcat-inputField-text-optional: var(--zcat-dark-30);

  /* Input Field Link */
  --zcat-inputField-text-linkField: var(--zcat-primary-10);
  --zcat-inputField-text-linkField-hover: var(--zcat-primary-20);
  --zcat-inputField-text-linkField-active: var(--zcat-primary-10);
  --zcat-inputField-text-linkField-disabled: var(--zcat-primary-30);

  /* Input Field Icon */
  --zcat-inputField-icon-placeholder: var(--zcat-dark-30);
  --zcat-inputField-icon-active: var(--zcat-dark-10);
  --zcat-inputField-icon-hover: var(--zcat-primary-40);
  --zcat-inputField-icon-disabled: var(--zcat-dark-40);
  --zcat-inputField-icon-label: var(--zcat-dark-20);


  /* -------------------------------------------- CHIPS -------------------------------------------- */

  /* Chips background */
  --zcat-chips-bg-default: var(--zcat-grey-50);
  --zcat-chips-bg-hover: var(--zcat-grey-20);
  --zcat-chips-bg-disabled: var(--zcat-grey-40);

  /* Chips border */
  --zcat-chips-border-default: var(--zcat-grey-20);
  --zcat-chips-border-hover: var(--zcat-grey-10);
  --zcat-chips-border-disabled: var(--zcat-grey-30);

  /* Chips text */
  --zcat-chips-text-default: var(--zcat-dark-10);
  --zcat-chips-text-hover: var(--zcat-dark-10);
  --zcat-chips-text-disabled: var(--zcat-dark-40);

  /* Chips icons */
  --zcat-chips-icon-default: var(--zcat-dark-10);
  --zcat-chips-icon-hover: var(--zcat-dark-10);
  --zcat-chips-icon-disabled: var(--zcat-dark-40);

  /* -------------------------------------------- CHECKBOX -------------------------------------------- */

  /* Checkbox background */
  --zcat-checkbox-bg-default: var(--zcat-black);
  --zcat-checkbox-bg-hover: var(--zcat-primary-40);
  --zcat-checkbox-bg-disabled: var(--zcat-grey-40);
  --zcat-checkbox-bg-clicked: var(--zcat-primary-10);
  --zcat-checkbox-bg-clicked-hover: var(--zcat-primary-20);
  --zcat-checkbox-bg-clicked-disabled: var(--zcat-primary-30);
  --zcat-checkbox-bg-white: var(--zcat-black);

  /* Checkbox icon */
  --zcat-checkbox-icon-click: var(--zcat-dark-10);
  --zcat-checkbox-icon-disabled: var(--zcat-white-20);

  /* Checkbox border */
  --zcat-checkbox-border-default: var(--zcat-grey-10);
  --zcat-checkbox-border-hover: var(--zcat-primary-30);
  --zcat-checkbox-border-disabled: var(--zcat-grey-30);

  /* Inner For checkbox */
  --zcat-checkbox-inner-default: var(--zcat-dark-10);
  --zcat-checkbox-inner-disabled: var(--zcat-white-20);

  /* -------------------------------------------- MENU LIST -------------------------------------------- */

  /* Menu background */
  --zcat-menuList-bg-default: var(--zcat-black);
  --zcat-menuList-bg-hover: var(--zcat-grey-30);
  --zcat-menuList-bg-selected: var(--zcat-primary-40);
  --zcat-menuList-bg-disabled: var(--zcat-grey-40);

  /* Menu border */
  --zcat-menuList-border-default: var(--zcat-grey-20);

  /* Menu text */
  --zcat-menuList-text-default: var(--zcat-dark-10);
  --zcat-menuList-text-light: var(--zcat-dark-30);
  --zcat-menuList-text-hover: var(--zcat-dark-10);
  --zcat-menuList-text-disabled: var(--zcat-dark-40);
  --zcat-menuList-text-heading: var(--zcat-dark-20);

  /* Menu icon */
  --zcat-menuList-icon-active: var(--zcat-dark-10);
  --zcat-menuList-icon-hover: var(--zcat-dark-10);
  --zcat-menuList-icon-disabled: var(--zcat-dark-40);
  --zcat-menuList-icon-check-default: var(--zcat-primary-10);

  /* --------------------------------------------  CARDS -------------------------------------------- */

  /* Card background */
  --zcat-card-bg-default: var(--zcat-black);
  --zcat-card-bg-secondary: var(--zcat-grey-901);
  --zcat-card-bg-tertiary: var(--zcat-grey-50);
  --zcat-card-bg-quaternary: var(--zcat-grey-30);
  --zcat-card-bg-bodyBg: var(--zcat-grey-60);
  --zcat-card-bg-darkBg: var(--zcat-grey-60);
  --zcat-card-bg-disabled: var(--zcat-grey-40);

  /* hover state */
  --zcat-card-bg-hover: var(--zcat-grey-901);
  --zcat-card-bg-hover-secondary: var(--zcat-grey-50);
  --zcat-card-bg-hover-tertiary: var(--zcat-grey-60);
  --zcat-card-bg-hover-quaternary: var(--zcat-grey-50);
  --zcat-card-bg-hover-bodyBg: var(--zcat-grey-50);

  /* selected state */
  --zcat-card-bg-selected: var(--zcat-primary-40);
  --zcat-card-bg-secondary-selected: var(--zcat-primary-40);
  --zcat-card-bg-tertiary-selected: var(--zcat-primary-40);
  --zcat-card-bg-quaternary-selected: var(--zcat-primary-40);
  --zcat-card-bg-bodyBg-selected: var(--zcat-primary-40);

  /* Card border */
  --zcat-card-border-default: var(--zcat-grey-20);
  --zcat-card-border-hover: var(--zcat-grey-70);
  --zcat-card-border-selected: var(--zcat-primary-10);
  --zcat-card-border-disabled: var(--zcat-grey-30);

  /* -------------------------------------------- SHADOWS -------------------------------------------- */

  /* Shadows background */
  --zcat-shadow-bg-default: var(--zcat-grey-30);
  --zcat-shadow-bg-secondary: var(--zcat-grey-104);

  /* -------------------------------------------- PRIMARY TABS -------------------------------------------- */

  /*  Tabs background */
  --zcat-tabs-primary-bg: var(--zcat-black);
  --zcat-tabs-primary-bg-hover: var(--zcat-primary-40);
  --zcat-tabs-primary-bg-hoverDisabled: var(--zcat-grey-40);

  /*  Tabs border */
  --zcat-tabs-primary-border-default: var(--zcat-grey-70);
  --zcat-tabs-primary-border-hover: var(--zcat-primary-30);
  --zcat-tabs-primary-border-active: var(--zcat-primary-10);
  --zcat-tabs-primary-border-disabled: var(--zcat-grey-30);

  /*  Tabs text */
  --zcat-tabs-primary-text-default: var(--zcat-dark-20);
  --zcat-tabs-primary-text-hover: var(--zcat-dark-10);
  --zcat-tabs-primary-text-active: var(--zcat-primary-10);
  --zcat-tabs-primary-text-disabled: var(--zcat-dark-40);

  /*  Tabs icon */
  --zcat-tabs-primary-icon-default: var(--zcat-dark-20);
  --zcat-tabs-primary-icon-hover: var(--zcat-dark-10);
  --zcat-tabs-primary-icon-active: var(--zcat-primary-10);
  --zcat-tabs-primary-icon-disabled: var(--zcat-dark-40);


  /* -------------------------------------------- SECONDARY TABS -------------------------------------------- */

  /*  Tabs bg */
  --zcat-tabs-secondary-bg-default: var(--zcat-grey-70);
  --zcat-tabs-secondary-bg-hover: var(--zcat-grey-30);
  --zcat-tabs-secondary-bg-active: var(--zcat-grey-60);
  --zcat-tabs-secondary-bg-disabled: var(--zcat-grey-40);

  /*  Tabs text */
  --zcat-tabs-secondary-text-default: var(--zcat-dark-20);
  --zcat-tabs-secondary-text-hover: var(--zcat-dark-10);
  --zcat-tabs-secondary-text-active: var(--zcat-dark-10);
  --zcat-tabs-secondary-text-disabled: var(--zcat-dark-40);

  /*  Tabs icon */
  --zcat-tabs-secondary-icon-default: var(--zcat-dark-20);
  --zcat-tabs-secondary-icon-hover: var(--zcat-dark-10);
  --zcat-tabs-secondary-icon-active: var(--zcat-primary-10);
  --zcat-tabs-secondary-icon-disabled: var(--zcat-dark-40);

  /*  Tabs border */
  --zcat-tabs-secondary-border-default: var(--zcat-grey-70);


  /* -------------------------------------------- CODE TABS -------------------------------------------- */

  /*  Tabs bg */
  --zcat-tabs-code-bg-default: var(--zcat-grey-30);
  --zcat-tabs-code-bg-hover: var(--zcat-grey-30);
  --zcat-tabs-code-bg-active: var(--zcat-grey-60);
  --zcat-tabs-code-bg-disabled: var(--zcat-grey-40);

  /*  Tabs text */
  --zcat-tabs-code-text-default: var(--zcat-dark-20);
  --zcat-tabs-code-text-hover: var(--zcat-dark-10);
  --zcat-tabs-code-text-active: var(--zcat-dark-10);
  --zcat-tabs-code-text-disabled: var(--zcat-dark-40);

  /*  Tabs icon */
  --zcat-tabs-code-icon-default: var(--zcat-dark-20);
  --zcat-tabs-code-icon-hover: var(--zcat-dark-10);
  --zcat-tabs-code-icon-active: var(--zcat-primary-10);
  --zcat-tabs-code-icon-disabled: var(--zcat-dark-40);

  /*  Tabs border */
  --zcat-tabs-code-border-default: var(--zcat-grey-70);

  /* -------------------------------------------- BADGE-------------------------------------------- */

  /* Primary Badge bg */
  --zcat-badge-primary-bg-primary: var(--zcat-primary-10);
  --zcat-badge-primary-bg-green: var(--zcat-green-10);
  --zcat-badge-primary-bg-red: var(--zcat-red-10);
  --zcat-badge-primary-bg-pink: var(--zcat-pink-10);
  --zcat-badge-primary-bg-orange: var(--zcat-orange-10);
  --zcat-badge-primary-bg-disabled: var(--zcat-grey-40);

  /* --zcat-badge-primary-bg-primary2: var(--zcat-primary-40);
    --zcat-badge-primary-bg-green2: var(--zcat-green-40);
    --zcat-badge-primary-bg-red2: var(--zcat-red-40);
    --zcat-badge-primary-bg-orange2: var(--zcat-orange-40);
     */

  /* Secondary Badge bg */
  --zcat-badge-secondary-bg-default: var(--zcat-grey-20);
  --zcat-badge-secondary-bg-primary: var(--zcat-primary-40);
  --zcat-badge-secondary-bg-green: var(--zcat-green-40);
  --zcat-badge-secondary-bg-red: var(--zcat-red-40);
  --zcat-badge-secondary-bg-pink: var(--zcat-pink-40);
  --zcat-badge-secondary-bg-orange: var(--zcat-orange-40);
  --zcat-badge-secondary-bg-disbaled: var(--zcat-grey-40);

  /* primary Badge text */
  --zcat-badge-primary-text-white: var(--zcat-white);
  --zcat-badge-primary-text-primary: var(--zcat-dark-10);
  --zcat-badge-primary-text-disabled: var(--zcat-dark-40);

  /* secondary Badge text */
  --zcat-badge-secondary-text-default: var(--zcat-black);
  --zcat-badge-secondary-text-primary: var(--zcat-primary-10);
  --zcat-badge-secondary-text-green: var(--zcat-green-10);
  --zcat-badge-secondary-text-red: var(--zcat-red-10);
  --zcat-badge-secondary-text-pink: var(--zcat-pink-10);
  --zcat-badge-secondary-text-orange: var(--zcat-orange-10);
  --zcat-badge-secondary-text-disabled: var(--zcat-dark-40);


  /* -------------------------------------------- BREADCRUMBS-------------------------------------------- */

  /* breadcrumbs bg */
  --zcat-breadcrumbs-bg-hover: var(--zcat-primary-40);

  /* breadcrumbs text */
  --zcat-breadcrumbs-text-default: var(--zcat-dark-10);
  --zcat-breadcrumbs-text-hover: var(--zcat-primary-10);
  --zcat-breadcrumbs-text-active: var(--zcat-dark-20);
  --zcat-breadcrumbs-text-disabled: var(--zcat-dark-40);

  /* breadcrumbs icon */
  --zcat-breadcrumbs-icon-default: var(--zcat-dark-20);
  --zcat-breadcrumbs-icon-hover: var(--zcat-primary-10);
  --zcat-breadcrumbs-icon-active: var(--zcat-dark-10);
  --zcat-breadcrumbs-icon-disabled: var(--zcat-dark-40);

  /* -------------------------------------------- ACCORDION -------------------------------------------- */

  /* Accordion bg */
  --zcat-accordion-bg-default: var(--zcat-black);
  --zcat-accordion-bg-hover: var(--zcat-grey-901);
  --zcat-accordion-bg-active: var(--zcat-grey-50);
  --zcat-accordion-bg-disabled: var(--zcat-grey-40);
  --zcat-accordion-bg-container: var(--zcat-black);
  --zcat-accordion-icon-bg-default: var(--zcat-grey-20);
  --zcat-secondary-accordion-bg-hover: var(--zcat-primary-40);

  /* Accordion text */
  --zcat-accordion-text-default: var(--zcat-dark-10);
  --zcat-accordion-text-secondary: var(--zcat-dark-20);
  --zcat-accordion-text-disabled: var(--zcat-dark-40);
  --zcat-secondary-accordion-text-default: var(--zcat-primary-10);
  --zcat-secondary-accordion-text-hover: var(--zcat-primary-20);

  /* Accordion icon */
  --zcat-accordion-icon-default: var(--zcat-dark-10);
  --zcat-accordion-icon-bg-hover: var(--zcat-grey-20);
  --zcat-accordion-icon-disabled: var(--zcat-dark-40);

  /* Accordion border */
  --zcat-accordion-border-default: var(--zcat-grey-20);
  --zcat-accordion-border-theme: var(--zcat-primary-10);
  --zcat-accordion-border-disabled: var(--zcat-grey-30);


  /* -------------------------------------------- SIDE MENU-------------------------------------------- */

  /* Side Menu bg*/
  --zcat-sidemenu-bg-default: var(--zcat-black);
  --zcat-sidemenu-bg-hover: var(--zcat-grey-30);
  --zcat-sidemenu-bg-active: var(--zcat-primary-40);

  /* Side Menu text*/
  --zcat-sidemenu-text-default: var(--zcat-dark-20);
  --zcat-sidemenu-text-hover: var(--zcat-dark-10);
  --zcat-sidemenu-text-active: var(--zcat-primary-10);
  --zcat-sidemenu-text-disabled: var(--zcat-dark-40);
  --zcat-sidemenu-text-subHeading: var(--zcat-dark-40);
  --zcat-sidemenu-text-serviceName: var(--zcat-dark-10);

  /* Side Menu icon */
  --zcat-sidemenu-icon-default: var(--zcat-dark-20);
  --zcat-sidemenu-icon-hover: var(--zcat-dark-10);
  --zcat-sidemenu-icon-active: var(--zcat-primary-10);
  --zcat-sidemenu-icon-disabled: var(--zcat-dark-40);

  /* Side Menu border */
  --zcat-sidemenu-border-default: var(--zcat-grey-70);

  /* -------------------------------------------- MAIN HEADER -------------------------------------------- */

  /* Project Name */
  --zcat-mainHeader-projectName-bg: var(--zcat-green-40);
  --zcat-mainHeader-projectName-text: var(--zcat-green-10);

  /* Main header bg */
  --zcat-mainHeader-bg-default: var(--zcat-black);

  /* Main header border */
  --zcat-mainHeader-border-default: var(--zcat-grey-70);

  /* Main header text */
  --zcat-mainHeader-text-default: var(--zcat-dark-10);

  /* -------------------------------------------- SUB HEADER -------------------------------------------- */

  /* Sub header bg */
  --zcat-subHeader-bg-default: var(--zcat-black);

  /* sub header border */
  --zcat-subHeader-border-default: var(--zcat-grey-70);

  /* sub header text */
  --zcat-subHeader-text-default: var(--zcat-dark-10);

  /* -------------------------------------------- FULL PAGE POPUP HEADER -------------------------------------------- */

  /* Fullpage popup Background */
  --zcat-fullpagePopup-bg-default: var(--zcat-grey-30);
  --zcat-fullpagePopup-bg-body: var(--zcat-black);

  /* Fullpage popup border */
  --zcat-fullpagePopup-border-default: var(--zcat-grey-70);

  /* Fullpage popup text */
  --zcat-fullpagePopup-text-default: var(--zcat-dark-10);

  /* -------------------------------------------- BODY -------------------------------------------- */

  /* background */
  --zcat-body-bg: var(--zcat-grey-902);

  /* rightpanel */
  --zcat-body-container-bg: var(--zcat-black);
  --zcat-body-curve-bg: var(--zcat-grey-80);
  /* text */
  --zcat-body-text-primary: var(--zcat-dark-10);
  --zcat-body-text-secondary: var(--zcat-dark-20);
  --zcat-body-text-light: var(--zcat-dark-30);
  --zcat-body-text-disabled: var(--zcat-dark-40);
  --zcat-body-text-theme: var(--zcat-primary-10);
  --zcat-body-text-theme-red: var(--zcat-red-10);
  --zcat-body-text-white: var(--zcat-black);
  --zcat-body-text-static-white: var(--zcat-white);

  /* border */
  --zcat-body-border-default: var(--zcat-grey-20);
  --zcat-body-border-outerdivider: var(--zcat-grey-70);
  --zcat-body-border-outerdivider-secondary: var(--zcat-grey-20);

  /* icons */
  --zcat-body-icons-static-primary: var(--zcat-dark-10);
  --zcat-body-icons-static-secondary: var(--zcat-dark-20);
  --zcat-body-icons-static-tertiary: var(--zcat-dark-30);
  --zcat-body-icons-static-disabled: var(--zcat-dark-40);

  --zcat-body-icons-static-theme: var(--zcat-primary-10);
  --zcat-body-icons-static-theme-hover: var(--zcat-primary-20);
  --zcat-body-icons-static-theme-light: var(--zcat-primary-40);


  /* -------------------------------------------- POPUP -------------------------------------------- */

  /* border */
  --zcat-popup-border: var(--zcat-grey-20);
  --zcat-popup-outer-border: var(--zcat-grey-20);

  /* background */
  --zcat-popup-bg: var(--zcat-black);
  --zcat-popup-bg-blur: var(--zcat-dark-60);


  /* -------------------------------------------- ALERTS AND ATTENTION -------------------------------------------- */

  /* info */
  --zcat-alerts-info-bg: var(--zcat-blue-40);
  --zcat-alerts-info-border: var(--zcat-blue-30);
  --zcat-alerts-info-text-primary: var(--zcat-dark-10);
  --zcat-alerts-info-text-secondary: var(--zcat-dark-20);
  --zcat-alerts-info-icon: var(--zcat-dark-10);

  /* success */
  --zcat-alerts-success-bg: var(--zcat-green-40);
  --zcat-alerts-success-border: var(--zcat-green-30);
  --zcat-alerts-success-text-primary: var(--zcat-dark-10);
  --zcat-alerts-success-text-secondary: var(--zcat-dark-20);
  --zcat-alerts-success-icon: var(--zcat-dark-10);

  /* danger */
  --zcat-alerts-danger-bg: var(--zcat-red-40);
  --zcat-alerts-danger-border: var(--zcat-red-30);
  --zcat-alerts-danger-text-primary: var(--zcat-dark-10);
  --zcat-alerts-danger-text-secondary: var(--zcat-dark-20);
  --zcat-alerts-danger-icon: var(--zcat-dark-10);

  /* warning */
  --zcat-alerts-warning-bg: var(--zcat-orange-40);
  --zcat-alerts-warning-border: var(--zcat-orange-30);
  --zcat-alerts-warning-text-primary: var(--zcat-dark-10);
  --zcat-alerts-warning-text-secondary: var(--zcat-dark-20);
  --zcat-alerts-warning-icon: var(--zcat-dark-10);

  /* dafault */
  --zcat-attention-default-bg: var(--zcat-grey-50);
  --zcat-attention-default-border: var(--zcat-grey-20);
  --zcat-attention-default-text-primary: var(--zcat-dark-10);
  --zcat-attention-default-text-secondary: var(--zcat-dark-20);
  --zcat-attention-default-icon: var(--zcat-dark-10);

  /* -------------------------------------------- PAGINATION -------------------------------------------- */

  --zcat-pagination-bg: var(--zcat-black);
  --zcat-pagination-text-primary: var(--zcat-dark-10);
  --zcat-pagination-text-secondary: var(--zcat-dark-20);
  --zcat-pagination-text-tertiary: var(--zcat-dark-30);
  --zcat-pagination-theme: var(--zcat-primary-10);
  --zcat-pagination-divider: var(--zcat-grey-20);


  /* -------------------------------------------- TOOLTIP -------------------------------------------- */

  --zcat-tooltip-bg: var(--zcat-black);
  --zcat-tooltip-text-primary: var(--zcat-dark-10);
  --zcat-tooltip-text-secondary: var(--zcat-dark-20);
  --zcat-tooltip-border: var(--zcat-grey-70);

  /* -------------------------------------------- LOADER -------------------------------------------- */

  /* content */
  --zcat-loader-content-primary: var(--zcat-grey-20);
  --zcat-loader-content-secondary: var(--zcat-grey-60);

  /* round */
  --zcat-loader-round-primary: var(--zcat-primary-10);
  --zcat-loader-round-secondary: var(--zcat-dark-10);
  --zcat-loader-round-tertiary: var(--zcat-black);

  /* progress */
  --zcat-loader-progress-primary: var(--zcat-primary-10);
  --zcat-loader-progress-secondary: var(--zcat-grey-20);

  /* -------------------------------------------- RADIO -------------------------------------------- */

  /* radio background */
  --zcat-radio-bg-default: var(--zcat-black);
  --zcat-radio-bg-hover: var(--zcat-primary-40);
  --zcat-radio-bg-disabled: var(--zcat-grey-40);
  --zcat-radio-bg-clicked: var(--zcat-primary-10);
  --zcat-radio-bg-clicked-hover: var(--zcat-primary-20);
  --zcat-radio-bg-clicked-disabled: var(--zcat-primary-30);
  --zcat-radio-outer-bg-default: var(--zcat-black);

  /* radio border */
  --zcat-radio-border-default: var(--zcat-grey-10);
  --zcat-radio-border-hover: var(--zcat-primary-30);
  --zcat-radio-border-disabled: var(--zcat-grey-30);
  --zcat-radio-outer-border-default: var(--zcat-grey-20);

  /* Inner For Radio */
  --zcat-radio-inner-default: var(--zcat-dark-10);
  --zcat-radio-inner-disabled: var(--zcat-white-20);

  /* -------------------------------------------- TOGGLE -------------------------------------------- */

  /* toggle background */
  --zcat-toggle-bg-default: var(--zcat-black);
  --zcat-toggle-bg-hover: var(--zcat-grey-30);
  --zcat-toggle-bg-disabled: var(--zcat-grey-40);
  --zcat-toggle-bg-clicked: var(--zcat-primary-10);
  --zcat-toggle-bg-clicked-hover: var(--zcat-primary-20);
  --zcat-toggle-bg-clicked-disabled: var(--zcat-primary-30);

  /* toggle border */
  --zcat-toggle-border-default: var(--zcat-grey-10);
  --zcat-toggle-border-hover: var(--zcat-primary-30);
  --zcat-toggle-border-disabled: var(--zcat-grey-30);

  /* Inner For Toggle */
  --zcat-toggle-inner-active: var(--zcat-dark-10);
  --zcat-toggle-inner-active-disabled: var(--zcat-white-20);
  --zcat-toggle-inner-default: var(--zcat-grey-10);
  --zcat-toggle-inner-hover: var(--zcat-primary-30);
  --zcat-toggle-inner-disabled: var(--zcat-grey-20);


  /* -------------------------------------------- STEPPER -------------------------------------------- */

  /* Stepper background */
  --zcat-stepper-bg-default: var(--zcat-grey-50);
  --zcat-stepper-bg-active: var(--zcat-primary-10);
  --zcat-stepper-bg-completed: var(--zcat-green-10);
  --zcat-stepper-bg-disabled: var(--zcat-grey-40);

  /* Stepper text */
  --zcat-stepper-text-default: var(--zcat-dark-20);
  --zcat-stepper-text-subText: var(--zcat-dark-20);
  --zcat-stepper-text-active: var(--zcat-dark-10);
  --zcat-stepper-text-completed: var(--zcat-dark-10);
  --zcat-stepper-text-disabled: var(--zcat-dark-40);
  --zcat-stepper-text-number: var(--zcat-white);

  /* Stepper divider */
  --zcat-stepper-divider-default: var(--zcat-grey-10);
  --zcat-stepper-divider-active: var(--zcat-primary-10);
  --zcat-stepper-divider-completed: var(--zcat-green-10);
  --zcat-stepper-divider-disabled: var(--zcat-grey-30);

  /* Stepper border */
  --zcat-stepper-border-default: var(--zcat-grey-10);
  --zcat-stepper-border-active: var(--zcat-white);
  --zcat-stepper-border-disabled: var(--zcat-white-20);
  --zcat-stepper-border-completed: var(--zcat-green-40);

  /* -------------------------------------------- CODE BLOCK & SNIPPET -------------------------------------------- */

  /* Code block background */
  --zcat-code-bg-writer: var(--zcat-black);
  --zcat-code-bg-reader: var(--zcat-grey-50);
  --zcat-code-bg-line-highlight: var(--zcat-primary-40);

  /* code border */
  --zcat-code-border-default: var(--zcat-grey-20);

  /* text */
  --zcat-code-text-number: var(--zcat-dark-30);
  --zcat-code-text-number-active: var(--zcat-dark-10);

  /* -------------------------------------------- DATE PICKER  -------------------------------------------- */

  /* Date picker background */
  --zcat-datePicker-bg-default: var(--zcat-black);
  --zcat-datePicker-number-bg-hover: var(--zcat-grey-30);
  --zcat-datePicker-number-bg-selected: var(--zcat-primary-10);
  --zcat-datePicker-number-bg-active: var(--zcat-primary-40);

  /* Date picker text */
  --zcat-datePicker-text-default: var(--zcat-dark-10);
  --zcat-datePicker-text-selected: var(--zcat-white);
  --zcat-datePicker-text-active: var(--zcat-primary-10);
  --zcat-datePicker-text-disabled: var(--zcat-dark-40);
  --zcat-datePicker-text-days: var(--zcat-dark-30);
  --zcat-datePicker-text-headings: var(--zcat-dark-10);

  /* Date picker border */
  --zcat-datePicker-border-default: var(--zcat-grey-10);
  --zcat-datePicker-border-line: var(--zcat-grey-20);


  /* -------------------------------------------- Link box  -------------------------------------------- */

  /* link background */
  --zcat-linkbox-bg-default: var(--zcat-grey-50);
  --zcat-linkbox-bg-hover: var(--zcat-grey-30);

  /* link text */
  --zcat-linkbox-text-label1: var(--zcat-dark-20);
  --zcat-linkbox-text-label2: var(--zcat-dark-10);
  --zcat-linkbox-text-mainText: var(--zcat-dark-10);

  /* link icon */
  --zcat-linkbox-icon-default: var(--zcat-dark-10);
  --zcat-linkbox-icon-hover: var(--zcat-primary-10);
  --zcat-linkbox-icon-click: var(--zcat-dark-10);
  --zcat-linkbox-icon-label: var(--zcat-dark-20);

  /* link border */
  --zcat-linkbox-border-default: var(--zcat-grey-20);
  --zcat-linkbox-border-hover: var(--zcat-primary-30);
  --zcat-linkbox-border-divider: var(--zcat-grey-10);

  /* -------------------------------------------- GRAPH -------------------------------------------- */

  /* Dial Graph */
  --zcat-graph-bg-default: var(--zcat-grey-40);
  --zcat-graph-bg-success: var(--zcat-green-10);
  --zcat-graph-line-bg-success: var(--zcat-green-30);
  --zcat-graph-bg-failure: var(--zcat-red-10);
  --zcat-graph-line-bg-failure: var(--zcat-red-30);

  /* graph text */
  --zcat-graph-text-primary: var(--zcat-dark-10);
  --zcat-graph-text-secondary: var(--zcat-dark-20);
  --zcat-graph-text-tertiary: var(--zcat-dark-30);

  /* graph lines */
  --zcat-graph-line-primary: var(--zcat-grey-70);
  --zcat-graph-line-secondary: var(--zcat-grey-20);


  /* -------------------------------------------- ILLUSTRATION -------------------------------------------- */

  --zcat-illus-primary-blue: var(--zcat-primary-10);
  --zcat-illus-white: var(--zcat-grey-103);
  --zcat-illus-white-static: var(--zcat-white);
  --zcat-illus-black: var(--zcat-grey-102);
  --zcat-illus-tint-blue: var(--zcat-grey-100);
  --zcat-illus-bg-blue: var(--zcat-grey-101);
  --zcat-illus-bg-red: var(--zcat-red-40);
  --zcat-illus-bg-black: var(--zcat-dark-10);
  --zcat-illus-red: var(--zcat-red-10);
  --zcat-illus-tint-red: var(--zcat-red-30);

  /* -------------------------------------------- SCROLLBAR -------------------------------------------- */

  --zcat-scrollbar-bg: var(--zcat-grey-10);
  --zcat-scrollbar-track-bg: var(--zcat-grey-30);


  /* -------------------------------------------- OTHER SHADES -------------------------------------------- */

  --zcat-shades-red-1: var(--zcat-red-10);
  --zcat-shades-red-2: var(--zcat-red-20);
  --zcat-shades-red-3: var(--zcat-red-30);
  --zcat-shades-red-4: var(--zcat-red-40);

  --zcat-shades-green-1: var(--zcat-green-10);
  --zcat-shades-green-2: var(--zcat-green-20);
  --zcat-shades-green-3: var(--zcat-green-30);
  --zcat-shades-green-4: var(--zcat-green-40);

  --zcat-shades-theme-1: var(--zcat-primary-10);
  --zcat-shades-theme-2: var(--zcat-primary-20);
  --zcat-shades-theme-3: var(--zcat-primary-30);
  --zcat-shades-theme-4: var(--zcat-primary-40);

  --zcat-shades-blue-1: var(--zcat-blue-10);
  --zcat-shades-blue-2: var(--zcat-blue-20);
  --zcat-shades-blue-3: var(--zcat-blue-30);
  --zcat-shades-blue-4: var(--zcat-blue-40);

  --zcat-shades-pink-1: var(--zcat-pink-10);
  --zcat-shades-pink-2: var(--zcat-pink-20);
  --zcat-shades-pink-3: var(--zcat-pink-30);
  --zcat-shades-pink-4: var(--zcat-pink-40);

  --zcat-shades-orange-1: var(--zcat-orange-10);
  --zcat-shades-orange-2: var(--zcat-orange-20);
  --zcat-shades-orange-3: var(--zcat-orange-30);
  --zcat-shades-orange-4: var(--zcat-orange-40);

  --zcat-shades-purple-1: var(--zcat-purple-10);
  --zcat-shades-purple-2: var(--zcat-purple-20);
  --zcat-shades-purple-3: var(--zcat-purple-30);
  --zcat-shades-purple-4: var(--zcat-purple-40);

  /* -------------------------------------------- Toast -------------------------------------------- */

  --zcat-toast-bg-default: var(--zcat-black);
  --zcat-toast-border-default: var(--zcat-grey-20);

  --zcat-toast-icon-line-success: var(--zcat-green-10);
  --zcat-toast-icon-line-danger: var(--zcat-red-10);
  --zcat-toast-icon-line-warning: var(--zcat-orange-10);
  --zcat-toast-icon-line-info: var(--zcat-blue-10);

  --zcat-toast-text-primary: var(--zcat-dark-10);
  --zcat-toast-text-secondary: var(--zcat-dark-20);


  /* -------------------------------------------- GHOST BUTTONS -------------------------------------------- */

  /* Background */
  --zcat-dropdown-ghost-bg-primary-hover: var(--zcat-primary-40);
  --zcat-dropdown-ghost-bg-success-hover: var(--zcat-green-40);
  --zcat-dropdown-ghost-bg-danger-hover: var(--zcat-red-40);

  /* Text */
  --zcat-dropdown-ghost-text-primary-default: var(--zcat-primary-10);
  --zcat-dropdown-ghost-text-primary-hover: var(--zcat-primary-20);
  --zcat-dropdown-ghost-text-primary-click: var(--zcat-primary-10);
  --zcat-dropdown-ghost-text-primary-disabled: var(--zcat-primary-30);

  --zcat-dropdown-ghost-text-success-default: var(--zcat-green-10);
  --zcat-dropdown-ghost-text-success-hover: var(--zcat-green-20);
  --zcat-dropdown-ghost-text-success-click: var(--zcat-green-10);
  --zcat-dropdown-ghost-text-success-disabled: var(--zcat-green-30);

  --zcat-dropdown-ghost-text-danger-default: var(--zcat-red-10);
  --zcat-dropdown-ghost-text-danger-hover: var(--zcat-red-20);
  --zcat-dropdown-ghost-text-danger-click: var(--zcat-red-10);
  --zcat-dropdown-ghost-text-danger-disabled: var(--zcat-red-30);

  /* Icons */
  --zcat-dropdown-ghost-icon-primary-default: var(--zcat-primary-10);
  --zcat-dropdown-ghost-icon-primary-hover: var(--zcat-primary-20);
  --zcat-dropdown-ghost-icon-primary-click: var(--zcat-primary-10);
  --zcat-dropdown-ghost-icon-primary-disabled: var(--zcat-primary-30);

  --zcat-dropdown-ghost-icon-success-default: var(--zcat-green-10);
  --zcat-dropdown-ghost-icon-success-hover: var(--zcat-green-20);
  --zcat-dropdown-ghost-icon-success-click: var(--zcat-green-10);
  --zcat-dropdown-ghost-icon-success-disabled: var(--zcat-green-30);

  --zcat-dropdown-ghost-icon-danger-default: var(--zcat-red-10);
  --zcat-dropdown-ghost-icon-danger-hover: var(--zcat-red-20);
  --zcat-dropdown-ghost-icon-danger-click: var(--zcat-red-10);
  --zcat-dropdown-ghost-icon-danger-disabled: var(--zcat-red-30);

  /* -------------------------------------------- AVATAR -------------------------------------------- */

  /* Background */
  --zcat-avatar-bg-default: var(--zcat-grey-50); 
  --zcat-avatar-bg-secondary: var(--zcat-grey-20);

  /* Border */
  --zcat-avatar-border-default: var(--zcat-grey-20); 

  /* Text */
  --zcat-avatar-text-default: var(--zcat-dark-20); 

  /* Icons */
  --zcat-avatar-icon-default: var(--zcat-dark-20); 

  /* -------------------------------------------- TOUR -------------------------------------------- */

  /* Background */
  --zcat-tour-bg-default: var(--zcat-dark-50);
  --zcat-carosual-bg-default: var(--zcat-dark-40);
  --zcat-carosual-bg-active: var(--zcat-dark-10); 

  /* Border */
  --zcat-tour-border-default: var(--zcat-grey-20); 

  /* Text */
  --zcat-avatar-text-default: var(--zcat-dark-10); 

  /* -------------------------------------------- PROFILE MENU -------------------------------------------- */

  /* Background */
  --zcat-profileMenu-bg-white: var(--zcat-white); 
  --zcat-profileMenu-bg-profileArea: var(--zcat-grey-50); 

  /* Border */
  --zcat-profileMenu-border-default: var(--zcat-grey-20); 
  --zcat-profileMenu-border-outer: var(--zcat-grey-10);

  /* Text */
  --zcat-profileMenu-text-heading: var(--zcat-dark-10); 
  --zcat-profileMenu-text-subText: var(--zcat-dark-20); 

  /* Icon */
  --zcat-profileMenu-icon-light: var(--zcat-grey-30); 
  --zcat-profileMenu-icon-white: var(--zcat-white); 
  --zcat-profileMenu-icon-primary: var(--zcat-dark-10); 
  /* -------------------------------------------- TIME LINE -------------------------------------------- */

  /* Background */
  --zcat-timeLine-bg-green: var(--zcat-green-40);
  --zcat-timeLine-bg-greenDot: var(--zcat-green-10);
  --zcat-timeLine-bg-orange: var(--zcat-orange-40);
  --zcat-timeLine-bg-orangeDot: var(--zcat-orange-10);
  --zcat-timeLine-bg-blue: var(--zcat-blue-40);
  --zcat-timeLine-bg-blueDot: var(--zcat-blue-10);
  --zcat-timeLine-bg-red: var(--zcat-red-40);
  --zcat-timeLine-bg-redDot: var(--zcat-red-10);

  /* Border */
  --zcat-timeLine-border-default: var(--zcat-grey-10);

    /* -------------------------------------------- Project card-------------------------------------------- */
  
    /* Background */
    --zcat-projectCard-bg-green: var(--zcat-grey-901);
    --zcat-projectCard-bg-blue: var(--zcat-grey-901);
    --zcat-projectCard-bg-orange: var(--zcat-grey-901);
    --zcat-projectCard-bg-pink: var(--zcat-grey-901);
    --zcat-projectCard-bg-grey: var(--zcat-grey-50);

  /* ---------------------------------------- KEY VALUE PAIR ------------------------------------------------ */

  /* Background */
  --zcat-keyvalue-drag-bg: var(--zcat-blue-40);

  /* Border */
  --zcat-keyvalue-drag-border: var(--zcat-blue-40);

  

}