lyte-checkbox * {
  box-sizing: border-box;
}
lyte-checkbox.zcat-secondary-checkbox-button,.zcat-secondary-checkbox-button .lyteCheckBoxDefault{
  width: 100%;
}
lyte-checkbox label{
  width: 100%;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.lyteCheckbox {
  font: var(--zcat-font-14-20) var(--zcat-font-family-primary);
  font-weight: 400;
  color: var(--zcat-body-text-primary);
  display: inline-block;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
lyte-checkbox:hover span{
  color: var(--zcat-body-text-primary);
}
.lyteCheckbox .lyteCheckBoxPrimary span,.lyteCheckbox .lyteCheckBoxDefault span{
  width: calc(100% - 16px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.lyteCheckbox > input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.lyteCheckBoxDefault::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background: var(--zcat-checkbox-bg-default);
  border: 1px solid;
  border-color: var(--zcat-checkbox-border-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 4px;
  box-sizing: border-box;
}
.lyteCheckbox:hover .lyteCheckBoxDefault::before {
  background: var(--zcat-checkbox-bg-hover);
  border: 1px solid var(--zcat-checkbox-border-hover);
}
.lyteCheckbox > input[type='checkbox']:checked + .lyteCheckBoxDefault::after,lyte-checkbox.minus-btn .lyteCheckbox>input[type=checkbox]+.lyteCheckBoxDefault::after,.lyteCheckbox.minus-btn > input[type='checkbox']:checked + .lyteCheckBoxDefault::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 3.2px;
  right: auto;
  margin: auto;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><path d="M6.66667 2.15002L3 5.81669L1.33334 4.15002" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
lyte-checkbox.minus-btn .lyteCheckbox > input[type=checkbox] + .lyteCheckBoxDefault::after,.lyteCheckbox.minus-btn > input[type='checkbox']:checked + .lyteCheckBoxDefault::after{
  content: '-';
  font-weight: 500;
  background: none;
  color: var(--zcat-color-white);
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 3px;
  bottom: initial;
}
.lyteCheckbox > input[type='checkbox']:checked + .lyteCheckBoxDefault::before {
  background: var(--zcat-checkbox-bg-clicked);
  border-color: transparent;
}
.lyteCheckbox:hover
  > input[type='checkbox']:checked
  + .lyteCheckBoxDefault::before {
  background: var(--zcat-checkbox-bg-clicked-hover);
}
.lyteCheckbox > input[type='checkbox']:disabled + span {
  opacity: 1;
}
lyte-checkbox[lt-prop-disabled='true'] {
  opacity: 1;
  cursor: not-allowed;
}
.lyteCheckbox
  > input[type='checkbox']:checked:disabled
  + .lyteCheckBoxDefault::before {
  background: var(--zcat-checkbox-bg-clicked-disabled);
  border-color: transparent;
  opacity: 1;
}
.lyteCheckbox > input[type='checkbox']:disabled + .lyteCheckBoxDefault::before,
.lyteCheckbox:hover > input[type='checkbox']:disabled {
  background: var(--zcat-checkbox-bg-disabled);
  border-color: var(--zcat-checkbox-border-disabled);
  opacity: 1;
}

/*Switch Styles*/

.lyteCheckSwitch {
  border: 1px solid;
  border-color: var(--zcat-checkbox-border-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 28px;
  height: 18px;
  border-radius: 25px;
  background-color: var(--zcat-toggle-bg-default);
  position: relative;
}

.lyteCheckSwitch + span {
  margin-left: 4px;
  width: calc(100% - 28px);
  text-overflow: ellipsis;
  overflow: hidden;
  font: var(--zcat-font-14-20) var(--zcat-font-family-primary);
  font-weight: 400;
  color: var(--zcat-body-text-primary);
}

.zcat-secondary-checkbox-button[lt-prop-type="switch"] .lyteCheckSwitch + span{
  margin: 0;
}

.lyteCheckSwitch .on-btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--zcat-toggle-inner-default);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 1px;
  transition: left 150ms ease-in-out;
  will-change: left;
}

.lyteCheckSwitch .on-btn:hover{
  background: var(--zcat-toggle-inner-hover);
}

lyte-checkbox:hover .lyteCheckSwitch {
  background: var(--zcat-checkbox-bg-hover);
  border: 1px solid var(--zcat-toggle-border-hover);
}

input[type='checkbox'].on-off-sw:checked + .lyteCheckSwitch {
  background: var(--zcat-checkbox-bg-clicked);
  border-color: transparent;
  box-shadow: none;
}
input[type='checkbox'].on-off-sw:checked + .lyteCheckSwitch:hover,
input[type='checkbox'].on-off-sw:checked:disabled + .lyteCheckSwitch {
  background: var(--zcat-checkbox-bg-clicked);
  border-color: transparent;
}
input[type='checkbox'].on-off-sw:disabled + .lyteCheckSwitch {
  border-color: var(--zcat-checkbox-border-default);
  background-color: var(--zcat-checkbox-bg-hover);
}

input[type='checkbox'].on-off-sw:checked + .lyteCheckSwitch .on-btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--zcat-toggle-inner-active);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: calc(100% - 15px);
}

/*Keyboard Focus*/
input[type='checkbox'].on-off-sw:checked:focus + .lyteCheckSwitch,
input[type='checkbox'].on-off-sw:focus + .lyteCheckSwitch,
.lyteCheckbox
  > input[type='checkbox']:checked:focus
  + .lyteCheckBoxDefault::before,
.lyteCheckbox > input[type='checkbox']:focus + .lyteCheckBoxDefault::before {
  box-shadow: none;
}

lyte-checkbox:hover .lyteCheckSwitch .on-btn{
  background: var(--zcat-toggle-inner-hover);
}

lyte-checkbox:hover 
input[type='checkbox'].on-off-sw:checked + .lyteCheckSwitch {
  background: var(--zcat-toggle-bg-clicked-hover);
}


.zcat-secondary-checkbox-button.primaryCheckBoxBtn.selected,
.zcat-secondary-checkbox-button.primaryCheckBoxBtn {
  padding: 0;
}
.zcat-secondary-checkbox-button .lyteCheckbox {
  width: 100%;
  padding: 10px;
}
.zcat-secondary-checkbox-button.lyteCheckboxDisabled .lyteCheckbox,.primaryCheckBoxBtn.lyteCheckboxDisabled{
  cursor: not-allowed;
  pointer-events: none;
}
lyte-checkbox.zcat-secondary-checkbox-button label{
  padding: 10px;
  cursor: pointer;
  flex-direction: row-reverse;
}
.primaryCheckBoxBtn{
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--zcat-radio-outer-border-default);
  background: var(--zcat-radio-outer-bg-default);
  cursor: pointer;
}
.primaryCheckBoxBtn:hover {
  box-shadow: 0px 0px 6px 1px var(--zcat-shadow-bg-default);
}
.primaryCheckBoxBtn.selected {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--zcat-color-primary);
  background: var(--zcat-color-grey7);
}

.lyteCheckbox.lyteDefault,.primaryCheckBoxBtn .lyteCheckbox.lyteDefault{
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.primaryCheckBoxBtn .lyteCheckbox.lyteDefault{
  align-items: baseline;
}

.primaryCheckBoxBtn .lyteCheckBoxDefault{
  display: flex;
  gap: 4px;
  position: relative;
}

.primaryCheckBoxBtn .lyteCheckbox > input[type='checkbox']:checked + .lyteCheckBoxDefault::after{
  top: -14px;
}

.primaryCheckBoxBtn.checkboxWutSubtxt .lyteCheckbox > input[type='checkbox']:checked + .lyteCheckBoxDefault::after{
  top: 1px;
}

.primaryCheckBoxBtn .lyteCheckBoxDefault::before {
  align-items: baseline;
  vertical-align: top;
  margin-top: 4.5px;
}

.checkboxWutSubtxt.primaryCheckBoxBtn .lyteCheckBoxDefault{
  align-items: center;
}
.primaryCheckBoxBtn.checkboxWutSubtxt .lyteCheckBoxDefault::before{
  margin: 0;
}

.checkboxWutLabel .lyteCheckbox.lyteDefault{
  width: fit-content;
}

.checkboxWutLabel .lyteCheckBoxDefault,lyte-checkbox[lt-prop-disabled='true'].checkboxWutLabel,lyte-checkbox[lt-prop-type="default"].checkboxWutLabel{
  width: 14px;
  height: 14px;
}

lyte-checkbox[lt-prop-disabled='true'] .lyteCheckbox.lyteDefault{
  cursor: not-allowed;
}

.checkboxWutLabel .lyteCheckBoxDefault::before{
  position: absolute;
  top: 0;
}

zcat-checkbox{
  display: flex;
}

/* .lyteCheckBoxDefault, lyte-checkbox{
  width: auto;
} */