lyte-fileupload * {
  box-sizing: border-box;
}
lyte-file-message,
lyte-fileupload,
lyte-file-select-area {
  position: relative;
  font-family: var(--zcat-font-family-primary);
  font-weight: 400;
  display: block;
}
lyte-fileupload::after {
  content: attr(error-message);
  position: absolute;
  top: 100%;
  left: 0;
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-error);
  padding-top: 1px;
}

zcat-fileupload .lyteInputFileUpd, .lyteInputFileUpd {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4px;
  height: 36px;
  min-width: 300px;
  padding-left: 8px;
  background: var(--zcat-inputField-bg-default);
  border: 1px solid var(--zcat-inputField-border-default);
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}
.lyteInputFileUpd {
  justify-content: space-between;
}
zcat-fileupload .lyteInputFileUpd {
  justify-content: flex-start; /* or unset */
}


.lyteInputFileUpd:hover {
  border: 1px solid var(--zcat-inputField-border-hover);
  background: var(--zcat-inputField-bg-hover);
}
.lyteInputFileUpd:hover .sm-upload-icon {
  /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M12.25 8.75V11.0833C12.25 11.3928 12.1271 11.6895 11.9083 11.9083C11.6895 12.1271 11.3928 12.25 11.0833 12.25H2.91667C2.60725 12.25 2.3105 12.1271 2.09171 11.9083C1.87292 11.6895 1.75 11.3928 1.75 11.0833V8.75" stroke="%23101f3e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.91671 4.66667L7.00004 1.75L4.08337 4.66667" stroke="%23101f3e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 1.75V8.75" stroke="%23101f3e" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'); */
  width: 14px;
  height: 14px;
}
.lyteFileUpdMsgWrap {
  font: var(--zcat-font-14-20) var(--zcat-font-family-primary);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  background: var(--zcat-inputField-bg-default);
  text-align: center;
  color: var(--zcat-inputField-text-active);
}
.lyteFileUpdBoxType .lyteFileUpdMsgWrap {
  /* border-radius: 10px; */
  /* padding: 30px; */
  /* border: 1px dashed #b8bdbe; */
}
.lyteFileUpdBoxType .lyteFileUpdMsgWrap:hover {
  border: 1px dashed var(--zcat-inputField-border-hover);
}
.fileDragEnter.lyteFileUpdInputType .lyteFileUpdMsgWrap,
.fileDragEnter.lyteFileUpdBoxType .lyteFileUpdMsgWrap {
  border: 1px dashed var(--zcat-inputField-border-active);
  background: var(--zcat-inputField-bg-active);
}
.lyteFileUpdMsg {
  position: relative;
  line-height: 21px;
}
.fileDragEnter .lyteFileUpdMsg {
  opacity: 0.7;
}
.lyteFileUpdBoxType .lyteFileUpdMsg {
  padding-left: 0px;
}
.lyteFileUpdBoxType .lyteFileUpdMsg::before {
  content: '';
  background-image: url(../../images/sprite_lyte.svg);
  background-position: -155px -203px;
  width: 30px;
  height: 21px;
  display: inline-block;
  position: absolute;
  left: 0;
}
.lyteFileUpdThumb {
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid var(--zcat-inputField-border-default);
}

.multiFileupload .lyteFileUpdList {
  /* margin-top: 15px; */
}
.multiFileupload .lyteFileUpdListFile {
  margin-bottom: 10px;
}
.lyteFileUpdListFile {
  position: relative;
  display: flex;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  align-items: center;
}
.lyteFileUpdListFile.error {
  background: var(--zcat-inputField-bg-error);
  border: 1px solid var(--zcat-inputField-border-error);
}
.lyteFileUpdTypePreview {
  margin-right: 10px;
}
.lyteFileUpdTypeIcon::after {
  content: '';
  background-image: url(../../images/sprite_lyte.svg);
  display: block;
  background-position: -117px -198px;
  width: 21px;
  height: 26px;
}
.lyteFileUpdTypeIcon.pdf::after {
  background-position: -8px -198px;
}
.lyteFileUpdTypeIcon.video::after {
  background-position: -35px -198px;
}
.lyteFileUpdTypeIcon.image::after {
  background-position: -63px -198px;
}
.lyteFileUpdTypeIcon.zip::after {
  background-position: -90px -198px;
}
.lyteFileUpdFileName {
  color: var(--zcat-inputField-text-active);
  font: var(--zcat-font-14-20) var(--zcat-font-family-primary);
  margin-right: 10px;
  max-width: calc(100% - 300px);
  white-space: nowrap;
}
.lyteFileUpdFileSize {
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-label);
  margin-right: auto;
  white-space: nowrap;
}
.lyteFileUpdFileStatus {
  display: flex;
  margin-right: 10px;
}
.lyteFileUpdProgressBar {
  height: 5px;
  width: 140px;
  background: var(--zcat-card-bg-secondary);
  flex-grow: 1;
  border-radius: 5px;
}
.lyteFileUpdProgressFill {
  height: 5px;
  background: var(--zcat-primary-10);
  width: 0;
  border-radius: 5px;
  transition: width 0.1s linear;
}
lyte-file-retry {
  display: inline-flex;
  margin-right: 10px;
}
.lyteFileUpdFailMsg {
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-error);
  margin-right: 10px;
  text-transform: capitalize;
  cursor: default;
}
.lyteFileUpdRetryMsg {
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-label);
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
}
.lyteFileUpdRetryMsg:hover {
  color: var(--zcat-inputField-text-active);
}
/* lyte-file-close {
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M10.5 3.5L3.5 10.5' stroke='%234D618A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 3.5L10.5 10.5' stroke='%234D618A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: -2px;
  width: 10px;
  height: 10px;
  opacity: 0.7;
} */

.lyteFileUpdListFile.success lyte-file-close {
  visibility: hidden;
}
.lyteFileUpdListFile.success:hover lyte-file-close {
  visibility: visible;
}
lyte-file-close:hover {
  opacity: 1;
}
.lyteFileUpdBoxType #lyteFileUpdSelectedFile {
  background: var(--zcat-card-bg-secondary);
  border: 1px solid var(--zcat-card-border-default);
}
.lyteFileUpdInputType .lyteFileUpdMsgWrap {
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px dashed var(--zcat-inputField-border-default);
  background: var(--zcat-inputField-bg-default);
  text-align: left;
}
.lyteFileUpdInputType .lyteFileUpdMsgWrap:hover {
  border: 1px dashed var(--zcat-inputField-border-hover);
}
.lyteFileUpdInputType .lyteFileUpdListFile {
  padding: 7px 10px;
  border: 1px dashed var(--zcat-inputField-border-default);
  border-radius: 3px;
  background: var(--zcat-inputField-bg-default);
}
.lyteFileUpdInputType .lyteFileUpdListFile.error {
  background: var(--zcat-inputField-bg-error);
  border: 1px dashed var(--zcat-inputField-border-error);
}
.lyteFileUpdInputType .lyteFileUpdFileName {
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  max-width: calc(100% - 250px);
}
.lyteFileUpdFileName {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  max-width: calc(100% - 30px);
}
.lyteFileUpdFileName::before {
  content: ' File Name : ';
  font: var(--zcat-font-14-20) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-label);
}
.lyteFileUpdFileSize::before {
  content: ' File Size : ';
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-label);
}
.lyteFileUpdFileSize {
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-label);
}
.lyteFileUpdInputType lyte-file-close {
  background-position: -324px -162px;
  width: 10px;
  height: 10px;
}
.lyteFileUpdBtnType .lyteFileUpdMsgWrap {
  width: 30px;
  height: 30px;
  background: var(--zcat-primary-10);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lyteFileUpdBtnType .lyteFileUpdMsgWrap::after {
  content: '';
  background-image: url(../../images/sprite_lyte.svg);
  background-position: -197px -205px;
  width: 15px;
  height: 19px;
  display: block;
}
.lyteFileUpdListFile.error .lyteFileUpdFileStatus,
.lyteFileUpdListFile.success .lyteFileUpdFileStatus,
.lyteFileUpdBtnType .lyteFileUpdMsg,
.fileuploadInput,
.lyteFileUpdInputType .lyteFileUpdTypePreview,
.lyteFileUpdBoxType .lyteFileUpdMsgWrap.lyteHide,
lyte-fileupload .lyteHide {
  display: none;
}
.lyteFileUpdDisabled {
  pointer-events: none;
  opacity: 0.6;
}

/* file upload */
.lyteuploadedfilename {
  font: var(--zcat-font-14-20) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-active);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 20px);
}
.lyteuploadedfilesize {
  font: var(--zcat-font-12-16) var(--zcat-font-family-primary);
  color: var(--zcat-body-text-secondary);
  padding-top: 5px;
}

.lg-upload-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M24.5 17.5V22.1667C24.5 22.7855 24.2542 23.379 23.8166 23.8166C23.379 24.2542 22.7855 24.5 22.1667 24.5H5.83333C5.21449 24.5 4.621 24.2542 4.18342 23.8166C3.74583 23.379 3.5 22.7855 3.5 22.1667V17.5' stroke='%234D618A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.8334 9.33333L14 3.5L8.16669 9.33333' stroke='%234D618A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 3.5V17.5' stroke='%234D618A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 28px;
  height: 28px;
}
zcat-fileupload .lg-upload-icon{
  background-image: none;
  width: 0;
  height: 0;
}
.sm-upload-icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M12.25 8.75V11.0833C12.25 11.3928 12.1271 11.6895 11.9083 11.9083C11.6895 12.1271 11.3928 12.25 11.0833 12.25H2.91667C2.60725 12.25 2.3105 12.1271 2.09171 11.9083C1.87292 11.6895 1.75 11.3928 1.75 11.0833V8.75" stroke="%237988a8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.91671 4.66667L7.00004 1.75L4.08337 4.66667" stroke="%237988a8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 1.75V8.75" stroke="%237988a8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: 14px;
  height: 14px;
}
.sm-upload-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 100%;
  /* background-color: var(--zcat-card-bg-secondary); */
  border-radius: 0px 5px 5px 0px;
}
.zcat-invalid .lyteInputFileUpd,
.zcat-invalid .lyteInputFileUpd:hover,
.zcat-invalid .lyteFileUpd,
.zcat-invalid .lyteFileUpd:hover {
  border-color: var(--zcat-inputField-border-error);
  background: var(--zcat-inputField-bg-error) !important;
}

.lyteFileUpdBoxType .lyteFileUpdMsgWrap {
  background: var(--zcat-linkbox-bg-default);
  border: 1px solid var(--zcat-linkbox-border-default);
  padding: 48px 30px 20px 30px;
  border-radius: 6px;
}
.lyteFileUpdBoxType .lyteFileUpdMsgWrap:hover {
  background: var(--zcat-inputField-bg-hover);
  border: 1px dashed var(--zcat-inputField-border-hover);
}
.lyteFileUpdBoxType .lyteFileUpdMsg::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M24.5 17.5V22.1667C24.5 22.7855 24.2542 23.379 23.8166 23.8166C23.379 24.2542 22.7855 24.5 22.1667 24.5H5.83333C5.21449 24.5 4.621 24.2542 4.18342 23.8166C3.74583 23.379 3.5 22.7855 3.5 22.1667V17.5' stroke='%234D618A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.8334 9.33333L14 3.5L8.16669 9.33333' stroke='%234D618A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 3.5V17.5' stroke='%234D618A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 28px;
  height: 23px;
  background-position: center;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}
.lyteFileUpdMsg {
  font: var(--zcat-font-14-20) var(--zcat-font-family-primary);
  color: var(--zcat-inputField-text-placeholder);
}
.lyteFileUpdBoxType #lyteFileUpdSelectedFile {
  background: var(--zcat-card-bg-secondary);
  border: 1px solid var(--zcat-card-border-default);
}
.lyteFileUpdListFile {
  background: var(--zcat-card-bg-secondary);
  border: 1px solid var(--zcat-card-border-default);
  padding: 15px;
  border-radius: 6px;
}
.lyteFileUpdTypePreview {
  display: none;
}
.lyteFileUpdListFile.success lyte-file-close {
  visibility: visible;
}
.lyteFileUpdListFile {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.lyteFileUpdFileSize + lyte-file-close,
.lyteFileUpdFileStatus + lyte-file-close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}




/* Sept 3 */
/* old  */
.lyteFileUploadedList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--zcat-card-border-default);
  padding: 15px;
  border-radius: 6px;
  /* flex-direction: column; */
}
zcat-fileupload .lyteFileUploadedList{
  flex-direction: column;
}
.lyteFileUpd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--zcat-inputField-bg-default);
  border: 1px solid var(--zcat-inputField-border-default);
  padding: 20px 30px;
  border-radius: 6px;
  cursor: pointer;
}
.lyteFileUpd:hover {
  background: var(--zcat-inputField-bg-hover);
  border: 1px solid var(--zcat-inputField-border-hover);
}

/* new  */
.lyteInputFileUpd .placeholder, .lyteFileUpd .placeholder{
  font: var(--zcat-input-text-font-weight) var(--zcat-input-text-font-default) var(--zcat-font-family-primary);
    color: var(--zcat-inputField-text-placeholder);
}
.lyteFileUpdList .lyteInputFileUpd{
  justify-content: space-between;
}

.lyteFileUploadedList .lyteuploadedfilename{
  max-width: unset;
}

lyte-file-close {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="none"><path d="M9 3L3 9M3 3L9 9" stroke="%23101F3E" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: unset;
}

html[data-user-color-scheme=dark] lyte-file-close {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M10.5 3.5L3.5 10.5M3.5 3.5L10.5 10.5" stroke="%23EEEEEE" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.multi-file-upload .multiFileupload .lyteFileUpdList {
    margin-top: 6px;
}
.multi-file-upload .lyteFileUpdList{
  display: flex;
  flex-direction: column;
}

.multi-file-upload .fileUploaded .lyteFileUpdList{
    border: 1px solid var(--zcat-inputField-border-default);
    border-radius: 6px;
}

.multi-file-upload .fileUploaded .lyteFileUpdList .lyteInputFileUpd {
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid var(--zcat-inputField-border-default);
  border-radius: 0;
}

.multi-file-upload .fileUploaded .lyteFileUpdList .lyteInputFileUpd:only-child {
  border-radius: 6px;
  border-bottom: none;
}

.multi-file-upload .fileUploaded .lyteFileUpdList .lyteInputFileUpd:first-child:not(:only-child) {
  border-radius: 6px 6px 0 0;
}

.multi-file-upload .fileUploaded .lyteFileUpdList .lyteInputFileUpd:last-child:not(:only-child) {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}






